  <!--Search field-->
<div class="row float-right">
  <div class="col-md-12 bg-light text-right id=search-form">
    <p>Search:</p>
    <%= form_tag(medicines_path, method: "get", remote: true) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter Medicine name", autocomplete: "off" , class: "form-control" %>
    <% end %> 

    <div id="index">
      <%= render 'medicines/results' %>
    </div>   
  </div>
</div>
