<div id="<%= dom_id appointment_date %>">
  <p>
    <strong>Doctor:</strong>
    <%= appointment_date.doctor_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= appointment_date.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= appointment_date.end_time %>
  </p>

</div>
