<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <h2>Appointment Details</h2>
    <% if current_user.patient? %>
      <div class="mt-3 appointment-btn">
        <%= link_to "New Appointment", new_patient_appointment_path, class: "btn btn-primary" %>
        <%= link_to "History", history_patient_appointments_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <% @patient_appointments.each do |patient_appointment| %>
            <div class="mb-3">
              <strong> Appointment_Date: </strong>
              <%= patient_appointment.date.strftime("%d/%m/%Y") %><br />
              <div class="btn-group">
                <%= button_to 'Cancel', patient_appointment_path(patient_appointment), class: "btn btn-danger", method: 'delete' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
